body {
    background-color: black;
    color: #eee;

    width: 16rem;
    height: 4rem;
}

.special-text {
    color: red;
}

.logo img {
    height: 30px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 20px;
}